# Dependencies
node_modules

# Build output
dist

# PostgreSQL data (local)
pgdata

# Git
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*

# Test coverage
coverage

# OS files
.DS_Store
Thumbs.db

# Documentation
doc
*.md
!README.md

# Test files
test
*.spec.ts
*.e2e-spec.ts
jest-e2e.json
